<!--
  MODAL CONFIGURATION PANEL
-->

<div class="modal fade" id="modal-panel-configuration" tabindex="-1" role="dialog" aria-labelledby="modal-title-configuration" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modal-title-configuration">Configuration</h4>
      </div>
      <div class="modal-body">
        <p>
          <label for="login-password">E-Mail / Username</label>
          <input type="text" id="username" class="round" value="" />
        </p>
        <p>
          <label for="login-password">Password</label>
          <input type="password" id="password" class="round" value="" />
        </p>
        <p>
          <label for="login-password">Password (confirmation)</label>
          <input type="password" id="password-confirm" class="round" value="" />
        </p>
        <input type="button" id="save" value="Save" class="btn btn-primary btn-sm" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>