/*
 * GOAL
 */

#new-goal-form {
  display: none;
  margin-top: 10px;
  padding-top: 10px;
}

.goal-list ol {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.goal-list ol li {
  border-bottom: 1px solid #E3E3E3;
}

.goal-list ol li:hover div.goal-list-entry {
  background-color: #E2E7ED;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}

.goal-list ol li:hover div.goal-list-entry-control a {
  visibility: visible;
}

.goal-list ol li:last-child {
  border: none;
}

/* */

.goal-list-entry {
  width: 100%;
}

.goal-list-entry.selected {
  margin: 0px;
  background-color: #E2E7ED;
}

.goal-list-entry a {
  color: #000000;
  text-decoration: none;
}

.goal-list-entry a:hover {
  color: #535F6D;
}

.goal-list .inline-edit {
  display: none;
  width: 100%;
  margin: 5px 0px 5px 0px;
  background-color: white;
}

.goal-list-entry-content {
  display: table;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.goal-list-entry-content.indent-0 {
  padding-left: 0px;
}

.goal-list-entry-content.indent-1 {
  padding-left: 10px;
}

.goal-list-entry-content.indent-2 {
  padding-left: 20px;
}

.goal-list-entry-content.indent-3 {
  padding-left: 30px;
}

.goal-list-entry-check {
  display: table-cell;
  width: 25px;
}

.goal-list-entry-check a {
  padding-left: 5px;
}

.goal-list-entry-title {
  display: table-cell;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

.goal-list-entry-title:hover {
  color: #535F6D;
}

.goal-list-entry-control { 
  display: table-cell;
  width: 50px;
  text-align: right;
  padding-right: 5px;
  text-transform: none;
}

.goal-list-entry-control a { 
  visibility: hidden;
  padding-right: 5px;
}

/* COMPLETED GOALS */

.completed-goals {
  margin-top: 20px;
}

.completed-goals section {
  width: 100%;
  height: 25px;
}

.completed-goals .header {
  width: 275px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-style: italic;
  color: #535F6D;
  float: left;
}

.completed-goals .option {
  margin-left: 275px;
  font-size: 12px;
  text-align: right;
}

.completed-goals ol li {
  width: 100%;  
  margin: 0px;
  padding: 5px 0px 5px 0px;
  color: #666666;
}

.completed-goals ol li a {
  color: #666666;
  text-decoration: none;
}

.completed-goals .check {
  width: 20px;
  float: left;
}

.completed-goals .title {
  margin-left: 20px;
  font-style: italic;
  text-decoration: line-through;
}

