/*
 * TASK
 */

#new-task-form {
  display: none;
  margin: 10px 0px 10px 0px;
}

.task-list ol {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.task-list ol li {
  border-bottom: 1px solid #E3E3E3;
}

.task-list ol li:hover div.task-list-entry {
  background-color: #E2E7ED;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
}

.task-list ol li:hover div.task-list-entry-control a {
  visibility: visible;
}

.task-list ol li:last-child {
  border: none;
}

/* */

.task-list-empty {
  width: 100%;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  padding: 15px 5px 15px 5px;
  color: #666666;
  background-color: #EFEFEF;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}

.task-list-entry {
  width: 100%;
  height: 100%;
}

.task-list-entry.selected {
  margin: 0px;
  background-color: #E2E7ED;
}

.task-list-entry a {
  color: #000000;
  text-decoration: none;
}

.task-list-entry a:hover {
  color: #535F6D;
}

.task-list .inline-edit {
  display: none;
  width: 100%;
  margin: 5px 0px 5px 0px;
  background-color: white;
}

.task-list-entry-content {
  display: table;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

.task-list-entry-content.indent-0 {
  padding-left: 0px;
}

.task-list-entry-content.indent-1 {
  padding-left: 10px;
}

.task-list-entry-content.indent-2 {
  padding-left: 20px;
}

.task-list-entry-content.indent-3 {
  padding-left: 30px;
}

.task-list-entry-check {
  display: table-cell;
  width: 25px;
}

.task-list-entry-check a {
  padding-left: 5px;
}

.task-list-entry-title {
  display: table-cell;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

.task-list-entry-title:hover {
  color: #535F6D;
}

.task-list-entry.selected .task-list-entry-title,
.task-list-entry.selected .task-list-entry-title:hover {
  font-weight: 400;
}

.task-list-entry-control { 
  display: table-cell;
  width: 50px;
  text-align: right;
  padding-right: 5px;
  text-transform: none;
}

.task-list-entry-control a { 
  visibility: hidden;
  padding-right: 5px;
}

.task-list-entry-options {
  width: 100%;
  height: 27px;
  display: none;
  padding: 5px 0px 5px 30px;
  cursor: pointer;
  background-color: #DEDEDE;
}

.task-list-entry-options a {
  cursor: pointer;
  color: #333333;
  padding-right: 10px;
  text-decoration: none;
}

.task-list-entry-options a:hover {
  color: #535F6D;
}

/*
 * NOTE
 */

#new-note-form {
  display: none;
}

#tt-note-list {
}

#tt-note-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#tt-note-list ul li {
}

#tt-note-list a {
  color: #636363;
  text-decoration: none;
}

#tt-note-list .tt-entry {
  width: 100%;
}

#tt-note-list ul li .tt-header {
  width: 100%;
  margin-top: 5px;
  color: #666666;
  background-color: #DFDFDF;
  display: table;
  vertical-align: middle;
  padding: 2px;
}

#tt-note-list ul li .tt-header-text {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  display: table-cell;
  padding-left: 2px;
}

#tt-note-list ul li .tt-header-control {
  white-space: nowrap;
  display: table-cell;
  right: 0px;
  width: 40px;
}

#tt-note-list ul li .tt-header-control a {
  padding-right: 5px;
}

#tt-note-list ul li .tt-header-control a:hover {
  color: #000000;
}

#tt-note-list ul li .tt-content {
  width: 100%;
  padding: 5px;
  background-color: #EFEFEF;
  display: table;
}

#tt-note-list ul li .tt-inline-edit {
  display: none;
  width: 100%;
  margin: 5px 0px 5px 0px;
}

/*
 * BOOKMARK
 */

#new-bookmark-form-button-new {
  margin: 0px 0px 10px 0px;
}

#new-bookmark-form {
  display: none;
  margin: 0px 0px 10px 0px;
  padding: 5px;
}

#tt-bookmarks-list {
}

#tt-bookmarks-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#tt-bookmarks-list ul li {
}

#tt-bookmarks-list a {
  color: #363636;
  text-decoration: none;
}

#tt-bookmarks-list .tt-entry {
  width: 100%;
}

#tt-bookmarks-list .tt-entry:hover {
  background-color: #535F6D;
}

#tt-bookmarks-list ul li .tt-header {
  width: 100%;
  margin-top: 5px;
  color: #666666;
  background-color: #DFDFDF;
  display: table;
  vertical-align: middle;
  padding: 2px;
}

#tt-bookmarks-list ul li .tt-header-text {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  display: table-cell;
  padding-left: 2px;
}

#tt-bookmarks-list ul li .tt-header-control {
  white-space: nowrap;
  display: table-cell;
  right: 0px;
  width: 40px;
}

#tt-bookmarks-list ul li .tt-header-control a {
  padding-right: 5px;
}

#tt-bookmarks-list ul li .tt-header-control a:hover {
  color: #000000;
}

#tt-bookmarks-list ul li .tt-content {
  display: table;
  width: 100%;
  padding: 5px;
  background-color: #EFEFEF;
}

#tt-bookmarks-list ul li .tt-thumbnail {
  display: table-cell;
  width: 75px;
}

#tt-bookmarks-list ul li .tt-thumbnail > img {
  border: 3px solid #FFFFFF;
  width: 75px;
  height: 50px;
}

#tt-bookmarks-list ul li .tt-description {
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 0px 5px 0px 5px;
  vertical-align: top;
}

#tt-bookmarks-list ul li .tt-title {
  color: #333333;
  font-weight: 500;
  font-size: 13px;
}

#tt-bookmarks-list ul li .tt-url {
  font-size: 9px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
  overflow: hidden;
}

#tt-bookmarks-list ul li .tt-inline-edit {
  display: none;
  width: 100%;
  margin: 5px 0px 5px 0px;
}

/*
 * HISTORY
 */

.task-history-list ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.task-history-list ul li {
}

.task-history-list a {
  color: #000000;
  text-decoration: none;
}

.task-history-list ul li:hover .task-history-list-control a {
  visibility: visible;
}

.task-history-list-entry-header {
  width: 100%;
  display: table;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin: 5px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
  color: #666666;
  background-color: #DFDFDF;
}

.task-history-list-entry-header div {
  display: table-cell;
}

.task-history-list-control { 
  width: 50px;
  text-align: right;
  text-transform: none;
}

.task-history-list-entry {
  width: 100%;
  display: table;
  padding: 5px;
  background-color: #EFEFEF;
}

.task-history-list-entry div {
  display: table-cell;
}

.task-history-list-content {
  width: 100%;
  padding: 0px 5px 0px 5px;
}

.task-history-list-content .thumbnail > img {
  border: 1px solid #DFDFDF;
  width: 75px;
  max-width: 75px;
  height: 50px;
  max-height: 50px;
}

.task-history-list-content .description {
  padding: 0px 5px 0px 5px;
  vertical-align: top;

  -ms-word-break: break-all;
  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.task-history-list-content .description .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.task-history-list-content .description .url {
  font-size: 9px;
  font-weight: normal;
  font-style: italic;
  color: #666666;
}

/* COMPLETED TASKS */

.completed-tasks {
  margin-top: 20px;
}

.completed-tasks section {
  width: 100%;
  height: 25px;
}

.completed-tasks .header {
  width: 275px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-style: italic;
  color: #535F6D;
  float: left;
}

.completed-tasks .option {
  margin-left: 275px;
  font-size: 12px;
  text-align: right;
}

.completed-tasks ol li {
  width: 100%;  
  margin: 0px;
  padding: 5px 0px 5px 0px;
  color: #666666;
}

.completed-tasks ol li a {
  color: #666666;
  text-decoration: none;
}

.completed-tasks .check {
  width: 20px;
  float: left;
}

.completed-tasks .title {
  margin-left: 20px;
  font-style: italic;
  text-decoration: line-through;
}