
div.login-form {
  width: 100%;
  color: #7E7975;
}

div.login-form label {
  cursor: pointer;
  display: block;
  font-size: 11px;
  font-weight: 400;
  padding: 0 0 5px 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

div.login-form input[type="text"], 
div.login-form input[type="password"] {
  border: 2px solid #E2E7ED;
  border-radius: 5px;
  display: block;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 5px;
  transition: all 0.3s ease-out 0s;
  width: 100%;
}

div.login-options {
  color: #DEDEDE;
  margin-top: 20px;
}